.PandAe {
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: box-shadow 0.3s ease;
    max-width: 60vw;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__body {
      padding: 10px;

      .PandAe__title {
        font-size: 18px;
        margin-bottom: 5px;
      }

      &__text {
        font-size: 16px;
        margin: 5px 0;
      }
    }
  }
}
