.addCard {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 70vw;
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  &__img {
    width: 25vw;
    border-radius: 5px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__text {
      margin-bottom: 12px;
    }

    &-button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &-group {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
      }

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
