.property {
  display: flex;
  flex-direction: row;

  &__filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; // Set to a single column
    gap: 15px;
    overflow-x: auto;

    &-col {
      box-sizing: border-box;
      min-width: 0;
    }
  }

  @media (max-width: 760px) {
    flex-direction: column;

    &__row {
      grid-template-columns: 1fr; // Set to a single column
    }
    .sidebar {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
