/* General styling for the search bar container */
.searchBar-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-top: 2vh;
}

/* Styles for the search bar */
.searchBar {
  display: flex;
  flex-direction: row; /* Set default direction to row for desktop */
  align-items: center;

  width: 80vw; /* Increased width for better responsiveness */
  max-width: 600px; /* Added max-width for larger screens */
  margin: 0 auto; /* Center the search bar */
  border-radius: 8px; /* Increased border-radius for a softer look */
  padding: 16px; /* Used fixed pixel values for padding for better control */
  background-color: #b3b2b2; /* Light gray background color */

  &__input {
    width: 100%; /* Full width for the input */

    margin-right: 12px; /* Default margin for desktop */
    padding: 10px; /* Used fixed pixel values for padding */
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;

    /* Location suggestion styles */
    &-locationsuggestion {
      display: flex;
      flex-direction: column;
    }

    /* Suggestions dropdown styles */
    &__suggestions {
      position: absolute;
      width: 40vw;
      z-index: 1;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff; /* White background color for suggestions */

      /* Individual suggestion styles */
      &-suggestion {
        padding: 10px; /* Used fixed pixel values for padding */
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  /* Button styles */
  &__button {
    flex: 0 0 30%;
    padding: 12px; /* Used fixed pixel values for padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increased border-radius for a softer look */
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  /* Media query for larger screens */
  @media (max-width: 767px) {
    & {
      flex-direction: column; /* Switch to column direction for mobile screens */

      &__input {
        margin-bottom: 12px; /* Retain margin for better spacing on mobile */
        margin-right: 0; /* Remove right margin on mobile */
      }
    }
  }
}
