.searchBar-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 10vh;
  border-radius: 4px;
  padding: 1.3vw;
  background-color: gray;

  &__input {
    margin-bottom: 1.5vw; // Use relative unit (vw) for margin
    padding: 1.2vw; // Use relative unit (vw) for padding
    flex: 1.4;
    display: flex;
    flex-direction: column;

    &-locationsuggestion {
      display: flex;
      flex-direction: column;
    }

    &__suggestions {
      position: absolute;

      width: 20.5vw;
      z-index: 1;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: gray;

      &-suggestion {
        padding: 1.2vw; // Use relative unit (vw) for padding
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  &__button {
    padding: 1.5vw; // Use relative unit (vw) for padding
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;

    &:hover {
      background-color: #0056b3;
    }
  }

  @media (min-width: 768px) {
    // Adjust styles for larger screens if needed
    & {
      flex-direction: row;

      &__input {
        margin-bottom: 0;
        margin-right: 1.5vw; // Use relative unit (vw) for margin
      }
    }
  }
}
