.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 20vw;

  &__title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #95b5da;

    &__checkbox {
      margin: 10px;
      &-label {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-size: 1.1em;
        color: #555;
      }
    }

    &__options {
      margin-top: -5px;
    }
  }
}

.sidebar.hide {
  display: none;
}
