.hostMobileLayout {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(99, 100, 97);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  &__logo {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 7vw;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7vw;
    cursor: pointer;
    gap: 7px;

    span {
      width: 30px;
      height: 3px;
      background-color: white;
    }
    &-parent {
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 60vw;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-right: 7vw;
    align-items: center;

    &-link {
      margin-right: 15px;
      color: white;
      text-decoration: none;

      &:first-child {
        background-color: gray;
        color: white;
        width: 100%;
        text-align: center;
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #424242;
}

.hide {
  display: none;
}
