.hostsidebar {
  flex: 0 0 20%;
  background-color: #2c3e50; /* Dark blue background color */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #34495e; /* Border color */
  margin-right: 2vw;
  color: #ecf0f1; /* Text color */

  .hostsidebar__category {
    margin-bottom: 20px;
  }

  .hostsidebar-header {
    margin-bottom: 10px;
    font-size: 18px;

    &__checkbox {
      margin-right: 5px;

      &-label {
        display: flex;
        align-items: center;
      }
    }
  }

  .hostsidebar-page {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px; /* Increased padding for better button appearance */
    border: 1px solid #34495e; /* Border color */
    border-radius: 4px;
    background-color: #3498db; /* Blue button color */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text */

    &.selected {
      background-color: #6195b8;
    }

    &:hover {
      background-color: #2980b9; /* Darker blue on hover */
    }
  }
}
